{
    "extends": "airbnb",
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        //regsterServiceWorker adds
        "no-console": ["error", { "allow": ["warn", "error","log"] }] ,
        "no-param-reassign": ["error", { "props": false }],
        "semi": ["error","never"],
          "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
          
        },
         "globals": {
          "require": false,
          "document": false
        }
    }